* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    //background-color: #f5f0e9;
    background-color: #f0f0f0a1;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(26, 24, 24);
}
a {
    text-decoration: none;
    background-color: #ffffff00;
    color: rgb(26, 24, 24);
}
.container {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    padding: 8px;
}
.start {
    //position: absolute;
    background-image: url('../img/main.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 800px;
    margin-bottom: 115px;
    &_text {
        position: absolute;
        top: 35%;
        //left: 3%;
        background-color: #ffffff00;
        font-size: 57px;
        font-weight: 700;
        max-width: 420px;
    }
}
.nav {
    //position: absolute;
    display: flex;
    align-items: center;
    //padding: 15px;
    z-index: 100;
    background-color: #ff000000;
    .logo {
        background-color: #ff000000;
        img {
            background-color: #ff000000;
        }
    }
    .menu {
        display: flex;
        background-color: #ff000000;
        width: 100%;
        justify-content: space-between;
        //margin: 0 20px;
        padding: 15px 0;
        &_shop, &_links {
            display: flex;
            list-style-type: none;
            background-color: #ff000000;
            li {
                background-color: #ff000000;
                padding-left: 16px;
                text-transform: lowercase;
                font-size: 15px;
                a {
                    font-weight: 400;
                }
                a:hover {
                    color: #ffffff;
                    font-size: 15.1px;
                    transition: 0.5s all;
                }
            }

        }
    }
}

.main {
    &_text {
        font-size: 58px;
        font-weight: 700;
        max-width: 392px;
        line-height: 60px;
        &_komnata, &_last {
            margin: 0 auto;
        }
    }
    &_list {
            font-weight: 400;
            margin-left: 300px;
        }
    &_content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 115px;
        &_komnata, &_last {
           //justify-content: space-evenly;
            align-items: flex-start;
        }
    }
}

.info {
    font-size: 44px;
    font-weight: 400;
    line-height: 47px;
    letter-spacing: 0.94px;
    &_name {
        text-align: right;
        margin-bottom: 28px;
    }
    &_line {
        border:solid 2px #000;
        margin-bottom: 75px;
    }
}

.footer {
    &_lists {
        display: flex;
        margin-bottom: 70px;
    }
    &_list {
        margin-right: 180px;
        text-transform: lowercase;
        &_name {
            margin-bottom: 18px;
        }
        &_item {
            list-style-type: none;
            margin-bottom: 5px;
        }
    }
    .initial {
        display: flex;
            justify-content: flex-end;
        a {
            color: #3120063f;
            
        }
    }
}